extends layout

block content
  .container
    each day, week_index in week
      h3= day.name
      each meal, meal_index in day.meals
        h4= meal.name
        if meal.active && !meal.eaten
          |
          |
          .btn-group(role="group")
            a.btn.btn-success(href="/calendar?eaten_day="+week_index+"&eaten_meal="+meal_index)
              i.fas.fa-check
            a.btn.btn-secondary(href="#")
              i.fas.fa-plus
        .row.align-items-start
          each recipe in meal.recipes
            .col-md-3
              .card.bg-dark.my-1(style='background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('+recipe.image+'); background-repeat: no-repeat; background-size: 100%; background-position: center top;')
                h5.card-header.d-flex
                  a.mr-auto.text-white(data-toggle="collapse" href="#meal"+day.id+'-'+meal.id+"-"+recipe.id)= recipe.name
                  .drop-down
                    a.text-white(data-toggle="dropdown" href="#")
                      i.fas.fa-ellipsis-h
                    .dropdown-menu.dropdown-menu-right
                      a.dropdown-item(href="#") Change date...
                      a.dropdown-item(href="#") Delete...
                .card-text.collapse(id="meal"+day.id+'-'+meal.id+"-"+recipe.id)
                  .bg-dark
                    .text-white= "Calories: " + recipe.calories
                    .text-white= "Total time: " + recipe.total_time_seconds + " s"
                    .text-white= "Servings: " + recipe.servings
                  ul.list-group
                  each ingredient in recipe.ingredients
                    li.text-capitalize.list-group-item= ingredient.name
                  if recipe.link
                    li.list-group-item.bg-dark
                      a.text-white(href=recipe.link, target="_blank") See recipe...
