extends layout

block content
  div(class='dropdown-menu login-menu')
    form(method='POST', class='px-3 py-3', action='/passwordReset/forgotpassword')
      div(class='form-group input-group')
        div(class='input-group-prepend')
          span(class='input-group-text input-group-icon')
            i(class='fas fa-user')

        // display error if forgotpassworderr set
        if (locals.forgotpassworderr)
          input#username.form-control.is-invalid(type='text', placeholder='Username', name='username')
        else
          input#username.form-control(type='text', placeholder='Username',
          name='username')
        div.invalid-feedback #{locals.forgotpassworderr}
        
      div(class='form-group input-group')
        div(class='input-group-prepend')
          span(class='input-group-text input-group-icon')
            i(class='fas fa-lock')
        input#password.form-control(type='password', placeholder='Password',
          name='password')
      div(class='form-group input-group')
        div(class='input-group-prepend')
          span(class='input-group-text input-group-icon')
            i(class='fas fa-lock')
        input#password-confirm.form-control(type='password',
          placeholder='Confirm password', name='password-confirm')
      div(class='text-center')
        button#password-reset(type='submit' class='btn btn-outline-primary',
          name='password-reset') Reset Password
        a(class='btn btn-outline-primary text-primary' href='/') Back
