extends layout

block content
  div#generator-carousel.carousel.slide(data-ride='carousel', data-interval='false')
    div.carousel-inner
      // desired nutritional requirements menu
      div.carousel-item.active
        div.dropdown-menu.login-menu
          div.dropdown-item.pb-2 Desired Nutritional Requirements
          div#generator-options.list-group.list-group-flush.login-menu
            each nutr in nutrients
              button.list-group-item.list-group-item-action.generator-options-item.py-2(id=nutr.id+'-toggle',
                type='button') #{nutr.name}
          div.text-center.pt-2
            .btn-group(role="group")
              a.btn.btn-outline-primary(href='/', role='button') Cancel
              a#generator-nutr-button.btn.btn-outline-primary(href='#generator-carousel', role='button', data-slide='next') Next

      // what to optimize for menu
      div.carousel-item
        div.dropdown-menu.login-menu
          div.dropdown-item.pb-2 What to Optimize For
          div#generator-optimizers.list-group.list-group-flush.login-menu
            each opt, index in optimizers
              if index == 0
                button.list-group-item.list-group-item-action.generator-optimizer-item.py-2.active(id='optimize-'+opt.id,
                  type='button') #{opt.desc}
              else
                button.list-group-item.list-group-item-action.generator-optimizer-item.py-2(id='optimize-'+opt.id,
                  type='button') #{opt.desc}
          div.text-center.pt-2
            div.btn-group
              a#generator-opt-button-prev.btn.btn-outline-primary(href='#generator-carousel', role='button', data-slide='prev') Prev
              a#generator-opt-button.btn.btn-outline-primary(href='#generator-carousel', role='button',
                data-slide='next') Next

      // enter parameters menu
      div.carousel-item
        div(class='dropdown-menu login-menu')
          form#generator-form(method='POST', class='px-3 py-3', action='')
            // calories
            div(class='form-group input-group')
              div(class='input-group-prepend')
                span(class='input-group-text input-group-icon')
                  i(class='fas fa-hamburger')
              input#calories-min.form-control(type='number', placeholder='Calories',
                name='calories-min', value=1800)
              div(class='input-group-append input-group-prepend')
                div(class='input-group-append input-group-prepend')
                  span(class='input-group-text') -
              input#calories-max.form-control(type='number', placeholder='Calories',
                name='calories-max', value=2200)
              div(class='input-group-append')
                div(class='input-group-append')
                  span(class='input-group-text nutr-options-append-primary') cal
              div.invalid-feedback Input cannot be empty.

            // cook time, cost, allergens currently disabled here
            if enableCookTime
              div(class='form-group input-group')
                div(class='input-group-prepend')
                  span(class='input-group-text input-group-icon')
                    i(class='fas fa-stopwatch')
                input#cook-time-min.form-control(type='number', placeholder='Cook time',
                  name='cook-time-min', value=0)
                div(class='input-group-append input-group-prepend')
                  div(class='input-group-append input-group-prepend')
                    span(class='input-group-text') -
                input#cook-time-max.form-control(type='number', placeholder='Cook time',
                  name='cook-time-max', value=60)
                div(class='input-group-append')
                  div(class='input-group-append')
                    span(class='input-group-text nutr-options-append-primary') min

            if enableCost
              div(class='form-group input-group')
                div(class='input-group-prepend')
                  span(class='input-group-text input-group-icon')
                    i(class='fas fa-money-bill')
                input#cost-min.form-control(type='number', placeholder='Cost',
                  name='cost-min', value=10)
                div(class='input-group-append input-group-prepend')
                  div(class='input-group-append input-group-prepend')
                    span(class='input-group-text') -
                input#cost-max.form-control(type='number', placeholder='Cost',
                  name='cost-max', value=20)
                div(class='input-group-append')
                  div(class='input-group-append')
                    span(class='input-group-text nutr-options-append-primary') ($)

            if enableAllergens
              div(class='form-group input-group')
                div(class='input-group-prepend')
                  span(class='input-group-text input-group-icon')
                    i(class='fas fa-allergies')
                select#allergens-web(class='selectpicker select-allergens form-control d-none',
                  multiple, data-mobile=true, data-none-selected-text='Allergens',
                  data-width:'auto', name='allergens' disabled)
                  each allergen in allergens
                      option(value=allergen.toLowerCase()) #{allergen}
                select#allergens-mobile(class='custom-select form-control',
                  multiple, data-mobile=true, data-none-selected-text='Allergens',
                  data-width:'auto', name='allergens')
                  option(disabled) Allergens
                  each allergen in allergens
                      option(value=allergen.toLowerCase()) #{allergen}

            // dietary restrictions
            div(class='form-group input-group')
              div(class='input-group-prepend')
                span(class='input-group-text input-group-icon')
                  i(class='fas fa-carrot')
              select#diet(class='custom-select', name='diet')
                option(selected disabled) No dietary restrictions
                each diet in diets
                    option(value=diet.toLowerCase()) #{diet}

            // # of daily meals
            div(class='form-group input-group')
              div(class='input-group-prepend')
                span(class='input-group-text input-group-icon')
                  i(class='fas fa-utensils')
              select#meals(class='custom-select', name='meals')
                option(value='1') 1
                option(value='2') 2
                option(value='3' selected) 3
                option(value='4') 4
                option(value='5') 5
                option(value='6') 6
              div(class='input-group-append')
                div(class='input-group-append')
                  span(class='input-group-text') daily meals

            // # of days to generate
            div(class='form-group input-group')
              div(class='input-group-prepend')
                span(class='input-group-text input-group-icon')
                  i(class='fas fa-calendar')
              select#days(name='days', class='custom-select')
                option(value='1') 1
                option(value='2') 2
                option(value='3') 3
                option(value='4') 4
                option(value='5') 5
                option(value='6') 6
                option(value='7' selected) 7
              div(class='input-group-append')
                div(class='input-group-append')
                  span(class='input-group-text') days to generate

            div.dropdown-divider.pb-2

            // nutritional requirements specified on first slide
            each nutr in nutrients
              div.form-group.input-group(id=nutr.id)
                div.input-group-prepend
                  span.input-group-text.nutr-options-additional-prepend-primary #{nutr.short}
                input.form-control(id=nutr.id + '-min', type='number',
                  placeholder=nutr.short, name=nutr.id + '-min', value=nutr.min)
                div.input-group-append.input-group-prepend
                  div.input-group-append.input-group-prepend
                    span.input-group-text -
                input.form-control(id=nutr.id + '-max', type='number',
                  placeholder=nutr.short, name=nutr.id + '-max', value=nutr.max)
                div(class='input-group-append')
                  div(class='input-group-append')
                    span.nutr-options-additional-append-primary(class='input-group-text') #{nutr.units}
                div.invalid-feedback Input cannot be empty.

            input#optimize-id(type='hidden', name='optimize-id', value=0)

            // submit divider
            div.dropdown-divider
            div.text-center.pt-3
              div.btn-group
                a#generator-button-prev.btn.btn-outline-primary(href='#generator-carousel', role='button', data-slide='prev') Prev
                button#generate.btn.btn-outline-primary(type='submit',
                  name='generate') Generate Meal Plan
