extends layout

block content 
  dig#profile-carousel.carousel.slide(data-ride='carousel', data-interval='false')
    div.carousel-inner
      div.carousel-item.active
        div.text-right.pt-2
          a#profile-button-next.btn.btn-outline-primary.btn-collapsible(href='#profile-carousel', role='button',
          data-slide='next') 
            span.glyphicon.glyphicon-pencil
            | Edit Profile
          //- a#profile-animated-button-next.btn.btn-info.btn-sm.btn-collapsible
          //-   i.fa.fa-cloud-download
          //-   span Download
        div.list
          each category in user
              h5.card-header.d-flex
                a.mr-auto.text-secondary(data-toggle="collapse" href="#category"+category.id)= category.name
              .card-text.collapse.text-secondary.show(id="category"+category.id)
                each item in category.items
                  p= item.name + ": " + item.value

      div.carousel-item
        div#edit-form(class='list')
          form(method='POST', class='px-3 py-3', action='/profile/updateprofile')
            each category in user
              h5.card-header.d-flex
                a.mr-auto.text-secondary(data-toggle="collapse" href="#category"+category.id+"edit")= category.name
              .card-text.collapse.text-secondary.show(id="category"+category.id+"edit")
                each item in category.items
                  if item.edit
                    if item.number
                      div(class='form-group input-group')
                        div(class='input-group-prepend')
                          span(class='input-group-text')
                          p= item.name
                        input#age.form-control(type='number', placeholder=item.value,
                          name=item.name)
                    else
                      div(class='form-group input-group')
                        div(class='input-group-prepend')
                          span(class='input-group-text')
                          p= item.name
                        input#age.form-control(type='text', placeholder=item.value,
                          name=item.name)
                  else
                    p= item.name + ": " + item.value
            div(class='text-center')
              button#save(type='submit', class='btn btn-outline-primary',
                name='save') Save 
            //- div(class='form-groupd input-group')
            //-   div(class='input-group-prepend')
            //-     span(class='input-group-text input-group-icon')
            //-       i(class='fas fa-user')
            //-   input#username.form-control(type='text', placeholder= user[0].items[0].number, name='username')
            //- div(class='form-group input-group')
            //-   div(class='input-group-prepend')
            //-     span(class='input-group-text input-group-icon')
                  
        //-   each category in user
        //-       h5.card-header.d-flex
        //-         a.mr-auto.text-secondary(data-toggle="collapse" href="#category"+category.id)= category.name
        //-       .card-text.collapse.text-secondary.show(id="category"+category.id)
        //-         each item in category.items
        //-           p= item.name + ": " + item.value
        //- div.text-center.pt-2        
        //-   a#profile-button-next.btn.btn-primary(href='#profile-carousel', role='button',
        //-   data-slide='next', type='submit') Save


      
  //- .container
  //-   each category in user
  //-     h2= category.name
  //-     hr
  //-     ul.list-group
  //-     each item in category.items
  //-       li= item.name + ": " + item.value
  //-     p
  //-     p
  //-     p
      
