extends layout

block content
  br
  h1= title
  
  .container
    #accordion.panel-group
      .panel.panel-default
        .panel-heading
          h3.panel-title
            a.accordion-toggle(data-toggle='collapse',
            href='#collapseGeneral')
              | General
          #collapseGeneral.panel-collapse.collapse.in
            .panel-body
              | Group 1 content.
              br
              | Name: #{user_name}
        .panel.panel-default
          .panel-heading
            h3.panel-title
              a.accordion-toggle(data-toggle='collapse',
              href='#collapsePref')
                | Nutritional Preferences
            #collapsePref.panel-collapse.collapse.in
              .panel-body
                | Allergens
                br
                | Diet profile
                br
                | Calorie count: 
        .panel.panel-default
          .panel-heading
            h3.panel-title
              a.accordion-toggle(data-toggle='collapse',
              href='#collapseHistory')
                | History
            #collapseHistory.panel-collapse.collapse.in
              .panel-body
                | History
                br
                | Previous meal plans
                br
                | Statistics

//- Notes
  • The user should not be able to see their user id
